{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Profil
{% endblock %}

{% block body %}
	<main class="home">
		<div class="container-index">

			<h1 class="h1-index">Bonjour!</h1>

			<div class="skin-genius">
				<h2 class="h2-button-skin-genius">Je fais mon analyse de peau avec SKIN-GENIUS</h2>
				<button class="button-skin-genius">
					<img src="{{ asset('images/logo_skin_genius.png') }}" alt="Logo skin-genius" class="img-skin-genius"></img>
			</button>
		</div>

		<div class="score-skin-genius">
			<h2 class="h2-button-skin-genius">Mon dernier score SKIN-GENIUS</h2>
			<img src="{{ asset('images/score_beaute_2.jpg') }}" alt="Mon dernier score beauté" class="img-score-beaute-home"</img>
		<button class="button-score-skin-genius">Mon historique</button>
	</div>

	<div class="analyse-skin-genius">
		<h2 class="h2-button-scores">Ma dernière analyse SKIN-GENIUS</h2>
		<button class="button-skin-genius">Mon historique</button>
	</div>

	<div class="photo-skin-genius">
		<h2 class="h2-home-photos">Ma dernière photo</h2>
		<button class="button-skin-genius">Mon historique</button>
	</div>

	<div class="routine-skin-genius">
		<h2 class="h2-index text-center">Ma dernière recommandation</h2>
		<button class="button-skin-genius">Mon historique beauté</button>
	</div>

</div></main>{% endblock %}
