<nav class="uk-navbar-container" img class="vaguenav" src="{{ asset('build/images/VagueNav.svg') }}">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle uk-navbar-toggle-animate" uk-navbar-toggle-icon href="#"></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Mon profil</a></li>
                        <li><a href="#">Mes photos</a></li>
						<li><a href="#">Ma peau</a></li>
						<li><a href="#">Ma routine beauté</a></li>
						<li><a href="#">Mes challenges</a></li>
						<li><a href="#">Mes cheveux</a></li>
						<li><a href="#">Mes produits</a></li>
						<li><a href="#">Deconnexion</a></li>
                    </ul>
                </div>
            </div>
			<img class="logo" src="{{ asset('build/images/Logo.svg') }}" alt="Logo Beauty Tracker">
        </div>
    </div>
</nav>
