<nav class="uk-navbar-container" img class="vaguenav" src="assets/images/VagueNav.svg">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle uk-navbar-toggle-animate" uk-navbar-toggle-icon href="#"></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#">Item</a>Accueil</li>
                        <li><a href="#">Item</a>Mon profil</li>
                        <li><a href="#">Item</a>Mes photos</li>
						<li><a href="#">Item</a>Ma peau</li>
						<li><a href="#">Item</a>Ma routine beauté</li>
						<li><a href="#">Item</a>Mes challenges</li>
						<li><a href="#">Item</a>Mes cheveux</li>
						<li><a href="#">Item</a>Mes produits</li>
						<li><a href="#">Item</a>Deconnexion</li>
                    </ul>
                </div>
            </div>
			<img class="logo" src="assets/images/Logo.svg" alt="Logo Beauty Tracker">
        </div>
    </div>
</nav>
