.uk-navbar-container {
    height: 70%;
}

.vaguenav {
    position: static;
    height: 75%;
    width: 100%;
}

.logo {
    padding: 0 .5rem .5rem .5rem;
    zoom: 500%;
}

.uk-container {
    position: relative;
    top: -22rem;
    right: 1rem;
}

.uk-navbar-toggle {
    color: black;
}
