{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Scores
{% endblock %}

{% block body %}

	<div class="scores-intro">
		<h1 class="h1-score">Mes scores avec SKIN-GENIUS</h1>
		<p class="p-score">L’historique des scores obtenus avec Skin Genius  depuis le début de l’utilisation de l’application, cela te permet de suivre l’évolution des critères de santé et de beauté de ton visage.</p>
	</div>

	<button class="button-histo">HISTORIQUE
	</button>

	<button class="button-analyse">ANALYSE
	</button>

{% endblock %}
